<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ele.project.violate.dao.ViolateDao">

	<insert id="insertViolate" parameterType="Map">
		insert into t_violate
		(id,borrowid,extendday,finepay,userid)values(#{id},#{borrowid},#{extendday},#{finepay},#{userid})
	</insert>
	
	<select id="getViolateinfo" parameterType="Map" resultType="Map">
		select b.id,bk.name,bk.author,bk.callno,date_format(b.borrowdate,'%Y-%m-%d') as borrowdate,
		date_format(b.returningdate,'%Y-%m-%d') as returningdate,v.extendday,v.finepay	
		from t_borrow b 
		left join t_book bk on bk.id=b.bookid 
		left join t_user u on u.id=b.userid
		left join t_violate v on v.borrowid=b.id
		where 1=1 
		<if test="username!=null and username!=''">
			and u.username=#{username}
		</if>
		order by bk.name
		limit #{page},#{pagesize} 
	</select>
	<select id="getViolateinfoCount" parameterType="Map" resultType="int">
		select count(1)
		from t_borrow b 
		left join t_book bk on bk.id=b.bookid 
		left join t_user u on u.id=b.userid
		left join t_violate v on v.borrowid=b.id
		where 1=1 
		<if test="username!=null and username!=''">
			and u.username=#{username}
		</if>
	</select>
	<delete id="deleteViolate" parameterType="java.util.List">
        delete from t_violate where id in 
        <foreach collection="list" item="id"
                 open="(" close=")" index="index" separator=",">
            #{vids}
        </foreach>
    </delete>
</mapper>